<button
  type="button"
  class="header_btn d-inline-flex mb-3 px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2"
>Your Dashboard </button>
<div
  class="blog-posts mb-3 px-5 py-5 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2"
>
<h1>Add New Post</h1>
    <form action="/dashboard/new" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content"></textarea><br>
        <button type="submit">Submit</button>
    </form>
    </div>