nav{
    font-weight: bold;
}
.header_btn{
    box-shadow: 5px 5px #888888;
    font-weight: bold !important;
    font-size: 25px;
}
.bp_title{
    display: flex;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: gray;
}
.blog-post{
    border: 4px solid #181818;
    margin: 5px;
}